@page "/"

<h1>List</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <Sol_List.Pages.Liquors.Index></Sol_List.Pages.Liquors.Index>
        </div>
    </div>
</div>

